{% extends "base.html" %}
{% block content %}
<h1>Bookstore</h1>
<div class="grid">
    {% for b in books %}
    <div class="card">
        <img src="{{ url_for('static', filename=b[4]) if b[4]
          else url_for('static', filename='imgs/placeholder.jpg') }}">
        <div class="body">
            <h3>{{ b[1] }}</h3>
            <p class="author">{{ b[2] }}</p>
            <div class="price">${{ '%.2f'|format(b[3]) }}</div>
            <a href="{{ url_for('add_to_cart', book_id=b[0]) }}"><button>Add to Cart</button></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
